    <% include parts/header %>


    <body>
    	<% include parts/menu_top %>
      	<div class="container">
        	<h1>404 Error</h1>
        
        	<center><img src="/assets/img/problem.png" width="40%"></center>
      	</div>

      <% include parts/main_js %>
      <% include parts/pub %>
      <% include parts/footer %>
