<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="assets/css/airedu.css"  media="screen,projection"/>
      <meta charset="UTF-8">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>
      <div class="container">
        <div class="card-panel">
          <h4>Ecoles</h4>
          <p>Choisissez votre école</p>
        </div>
        <div class="card-panel">
          <div class="input-field">
            <select class="icons" id="schooler">
              <option value="nan" disabled selected>Choose your school</option>
              <option value="oeo" data-icon="img/sample.jpg" class="left circle">example 1</option>
              <option value="eeeo" data-icon="img/office.jpg" class="left circle">example 2</option>
              <option value="fhf" data-icon="img/yuna.jpg" class="left circle">example 3</option>
              <option value="No_school" data-icon="img/yuna.jpg" class="left circle">No_school</option>
            </select>
          </div>
        </div>
      </div>
     
      
     
      
      
      

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="assets/js/jquery.js"></script>
      <script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
      <script type="text/javascript" src="assets/js/json2.js"></script>
      <script type="text/javascript" src="assets/js/jstorage.js"></script>
      <script type="text/javascript" src="assets/js/materialize.min.js"></script>
      <script type="text/javascript" src="assets/js/jQuery.succinct.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery/autosize.min.js"></script>
      


      <script type="text/javascript" src="assets/js/global.js"></script>
      <script type="text/javascript" src="assets/js/pub.js"></script>
      <script type="text/javascript" src="assets/js/ecole.js"></script>
    </body>
  </html>
