    <% include parts/header %>


    <body>
    	<% include parts/menu_top %>
      	<div class="container">
        	<h1><%= title %></h1>
        	<span class="red-text text-darken-2"><%= __('fatal_error')%> </span>
          <center><img src="/assets/img/problem.png" width="40%"></center>
        	

      	</div>

      <% include parts/main_js %>
      <% include parts/pub %>
      <% include parts/footer %>
