<% include parts/header %>

    <body>
      <% include parts/menu_top %>

      <div class="player">
      
        <div class="video_airedu">
            
          <div id="wrap_video">
            <div id="video_box">
              <i class="large material-icons">sentiment_dissatisfied</i>
            </div>
            <h1><%- title %></h1>
          </div>
          <div class="this_pub card-panel"  style="display:none"></div>
        </div>
      </div>
       
      <% include parts/main_menu %>
      <% include parts/main_js %>
      <% include parts/pub %>
      <% include parts/no_file_found %>
      <% include parts/menu %>
      <% include parts/footer %>
