<div class="row top">
    
    <div class="col s2">
      <a href="/"> <img src="assets/img/air.png" class="air"></a>
    </div>
    
    <div class="col s10 m10 l5">
      <div id='search-box' class="z-depth-3">
        <form id='search-form'>
          <input id='search-text' name='term' type='text' value="" />
  
          <button id='search-button'>                     
            <span> <center> <i class="material-icons left">search</i></center></span>
          </button>
        </form>
      </div>
    </div>
    
</div>


