<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="assets/css/airedu.css"  media="screen,projection"/>
      <meta charset="UTF-8">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>
      <div class="row top">
        <div class="col s2">
          <img src="assets/img/air.png" class="air">
        </div>
        <div class="col s8">
          <input type="text" class="search_list">
        </div>
        <div class="col s2">
          <a href="#"><i class="material-icons left">search</i></a>
        </div>
      </div>

      <div class="field" article="yes">

          <div class="suggestion" style="display:none"></div>

        <div class="article_airedu">
       
          <div class="option_content right">
              <a class="blue-text text-darken-2  waves-effect waves-light"><i class="material-icons">file_download</i></a>
              <a class="blue-text text-darken-2  waves-effect waves-light"><i class="material-icons">share</i></a>
          </div>
          <div class="inside_article">

            <h1>Art</h1>
            <p>
              <img src="img/art.jpg" class="materialboxed" style="float:left;margin-right:20px;" height="100px">
              Art is a diverse range of human activities in creating visual, auditory or performing artifacts (artworks), expressing the author's imaginative or technical skill, intended to be appreciated for their beauty or emotional power.[1][2] In their most general form these activities include the production of works of art, the criticism of art, the study of the history of art, and the aesthetic dissemination of art.
            </p>

              <h2> History</h2>
              <p>
                Many great traditions in art have a foundation in the art of one of the great ancient civilizations: Ancient Egypt, Mesopotamia, Persia, India, China, Ancient Greece, Rome, as well as Inca, Maya, and Olmec. Each of these centers of early civilization developed a unique and characteristic style in its art. Because of the size and duration of these civilizations, more of their art works have survived and more of their influence has been transmitted to other cultures and later times. Some also have provided the first records of how artists worked. For example, this period of Greek art saw a veneration of the human physical form and the development of equivalent skills to show musculature, poise, beauty, and anatomically correct proportions. 
              </p>
              <p>
                d'être exécuté, Roger annonça au monde que ses habitants étaient libres de chercher toutes les richesses qu'il avait accumulées durant sa vie entière, le « One Piece3. » Vingt-deux ans après l'exécution de Roger, l'intérêt pour le One Piece s’éteint petit à petit. Beaucoup y ont renoncé, certains se demandent même s'il existe vraiment. Même si les pirates sont toujours une menace pour les habitants, la Marine est devenue plus efficace pour contrer 
              </p>
              <p>
                leurs attaques sur les quatre mers (East Blue, North Blue, West Blue et South Blue). Pourtant, ce changement n'a pas dissuadé Monkey D. Luffy, un jeune garçon, de vouloir devenir le successeur du légendaire Roger. Il va ainsi partir à l’aventure en se donnant comme premier objectif de créer un équipage afin de rejoindre la mer de Grand Line (ou Route de tous les Périls dans la première version française de Glénat), où la fièvre de la « grande vague de piraterie » continue de sévir, et où de nombreux grands noms de la piraterie sont à la poursuite du One Piece.
              </p>
            </div>

            <div class="description_media">
              <p class="description_text blue-text text-darken-2">
                leurs attaques sur les quatre mers (East Blue, North Blue, West Blue et South Blue). Pourtant, ce changement n'a pas dissuadé Monkey D. Luffy, un jeune garçon, de vouloir devenir le successeur du légendaire Roger. Il va ainsi partir à l’aventure en se donnant comme premier objectif de créer un équipage afin de rejoindre la mer de Grand Line (ou Route de tous les Périls dans la première version française de Glénat), où la fièvre de la « grande vague de piraterie » continue de sévir, et où de nombreux grands noms de la piraterie sont à la poursuite du One Piece
              </p>
            </div>
          

            <div class="commentor">
              <h5>COMMENTAIRES.1238</h5>
                <ul class="collection list_com">
                  <li class="collection-item avatar">
                    <img src="img/yuna.jpg" alt="" class="circle">
                    <textarea class="text_comment"></textarea>
                    <div class="right option_comment" style="display:none;">
                      <a class="waves-effect waves-light btn-flat cancel">Annuler</a>
                      <a class="waves-effect waves-light btn-flat send blue disabled">Ajouter un commentaire</a>
                    </div>
                  </li>
                  <div class="divider"></div>
                </ul>
            </div>



          </div>

          <div class="suggestion_mobile" style="display:none"></div>
          
      </div>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><img src="img/yuna.jpg" alt="" class="circle responsive-img"></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">notifications</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">chat_bubble</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">file_download</i></a></li>
        </ul>
      </div>
     
      
      
      

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="assets/js/jquery.js"></script>
      <script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
      <script type="text/javascript" src="assets/js/json2.js"></script>
      <script type="text/javascript" src="assets/js/jstorage.js"></script>
      <script type="text/javascript" src="assets/js/materialize.min.js"></script>
      <script type="text/javascript" src="assets/js/jQuery.succinct.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery/autosize.min.js"></script>


      <script type="text/javascript" src="assets/js/global.js"></script>
      <script type="text/javascript" src="assets/js/pub.js"></script>
      <script type="text/javascript" src="assets/js/article.js"></script>
      <script type="text/javascript" src="assets/js/menu.js"></script>
    </body>
  </html>
