<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="assets/css/airedu.css"  media="screen,projection"/>
      <meta charset="UTF-8">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>
      <div class="row top">
        <div class="col s2">
          <img src="assets/img/air.png" class="air">
        </div>
        <div class="col s8">
          <input type="text" class="search_list">
        </div>
        <div class="col s2">
          <a href="#"><i class="material-icons left">search</i></a>
        </div>
      </div>

      <div class="player">
      
        <div class="row">
          <div class="col s12 m8 l8 video_airedu">
            <div class="audio_field">
              <center>
                <span class="current_audio blue-text text-darken-2">00:00</span>
                <a href="#" class="control_audio" url="audio.mp3"><i class="material-icons circle red large ">pause</i></a>
                <span class="end_audio blue-text text-darken-2">00:00</span>
                <div class="displayer"></div>
                <div class="progress timer">
                  <div class="determinate" style="width: 0%"></div>
                </div>
              </center>
            </div>
            <div class="this_pub card-panel"  style="display:none">
              
            </div>
            <div class="info_space"></div>

            <div class="description_media">
              <p class="description_text blue-text text-darken-2">
                leurs attaques sur les quatre mers (East Blue, North Blue, West Blue et South Blue). Pourtant, ce changement n'a pas dissuadé Monkey D. Luffy, un jeune garçon, de vouloir devenir le successeur du légendaire Roger. Il va ainsi partir à l’aventure en se donnant comme premier objectif de créer un équipage afin de rejoindre la mer de Grand Line (ou Route de tous les Périls dans la première version française de Glénat), où la fièvre de la « grande vague de piraterie » continue de sévir, et où de nombreux grands noms de la piraterie sont à la poursuite du One Piece
              </p>
            </div>
          

            <div class="commentor">
              <h5>COMMENTAIRES.1238</h5>
                <ul class="collection list_com">
                  <li class="collection-item avatar">
                    <img src="img/yuna.jpg" alt="" class="circle">
                    <textarea class="text_comment"></textarea>
                    <div class="right option_comment" style="display:none;">
                      <a class="waves-effect waves-light btn-flat cancel">Annuler</a>
                      <a class="waves-effect waves-light btn-flat send blue disabled">Ajouter un commentaire</a>
                    </div>
                  </li>
                  <div class="divider"></div>
                </ul>
            </div>

          </div>
          <div class="col s12 m4 l4">
              <div class="suggestion_vid" style="display:none"></div>
          </div>
        </div>
      </div>
      
     
      
      
      

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="assets/js/jquery.js"></script>
      <script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
      <script type="text/javascript" src="assets/js/json2.js"></script>
      <script type="text/javascript" src="assets/js/jstorage.js"></script>
      <script type="text/javascript" src="assets/js/materialize.min.js"></script>
      <script type="text/javascript" src="assets/js/jQuery.succinct.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery/autosize.min.js"></script>
      


      <script type="text/javascript" src="assets/js/global.js"></script>
      <script type="text/javascript" src="assets/js/pub.js"></script>
      <script type="text/javascript" src="assets/js/audio.js"></script>
    </body>
  </html>
