<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="assets/css/airedu.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><img src="img/yuna.jpg" alt="" class="circle responsive-img"></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">notifications</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">chat_bubble</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">file_download</i></a></li>
        </ul>
      </div>
      

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="assets/js/jquery.js"></script>
      <script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
      <script type="text/javascript" src="assets/js/json2.js"></script>
      <script type="text/javascript" src="assets/js/jstorage.js"></script>
      <script type="text/javascript" src="assets/js/materialize.min.js"></script>

      <script type="text/javascript" src="assets/js/menu.js"></script>
    </body>
  </html>
