<!DOCTYPE html>
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="assets/css/airedu.css"  media="screen,projection"/>
      <meta charset="UTF-8">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>

      <div class="row top">
        <div class="col s2">
          <img src="assets/img/air.png" class="air">
        </div>
        <div class="col s8">
          <input type="text" class="search_list">
        </div>
        <div class="col s2">
          <a href="#"><i class="material-icons left">search</i></a>
        </div>
      </div>

     <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a href="#test1" class="active black-text text-darken-2">Mediathèque</a></li>
          <li class="tab col s6"><a href="#test2" class="black-text text-darken-2">Wikipedia</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <div class="collection">
          <a href="#!" class="card-panel collection-item waves-effect waves-light">
            <img src="img/image.jpg" alt="" class="square responsive-img first_pic">
            <div class="title blue-text text-darken-2 truncate">Bellow to generate a number to send to your corre dhhdh</div>
            <span class="red-text text-darken-2 truncate description"> Payclass truncate to the tag which  ss truncate to the tag which conta ss truncatjdjjddhhd dhhddgd dggd gdgd </span> 
            <div><span class="new badge blue" data-badge-caption="3:23"></span></div>
            <div class="black-text text-darken-2 data_file"><span class="views"><span class="number">30M</span>&nbsp;<span class="view_lang">Views</span></span>&nbsp;.&nbsp;<span class="dateTime">Il y'a 59 minutes</span></div>
          </a>
          <a href="#!" class="card-panel collection-item waves-effect waves-light">
           <img src="img/image.jpg" alt="" class="square responsive-img first_pic">
            <div class="title blue-text text-darken-2 truncate">Bellow to generate a number to send to your corre dhhdh</div>
            <span class="red-text text-darken-2 truncate description"> Payclass truncate to the tag which  ss truncate to the tag which conta ss truncatjdjjddhhd dhhddgd dggd gdgd </span>
            <div><span class="new badge blue" data-badge-caption="40:29"></span></div>
            <div class="black-text text-darken-2 data_file"><span class="views"><span class="number">30M</span>&nbsp;<span class="view_lang">Views</span></span>&nbsp;.&nbsp;<span class="dateTime">Il y'a 2 ans</span></div>
          </a>
          <a href="#!" class="card-panel collection-item waves-effect waves-light">
            <img src="img/image.jpg" alt="" class="square responsive-img first_pic">
            <div class="title blue-text text-darken-2 truncate">Bellow to generate a number to send to your corre dhhdh</div>
            <span class="red-text text-darken-2 truncate description"> Payclass truncate to the tag which  ss truncate to the tag which conta ss truncatjdjjddhhd dhhddgd dggd gdgd </span>
            <div><span class="new badge blue" data-badge-caption="999 Pages"></span></div>
            <div class="black-text text-darken-2 data_file"><span class="views"><span class="number">30M</span>&nbsp;<span class="view_lang">Views</span></span>&nbsp;.&nbsp;<span class="dateTime">Il y'a 59 minutes</span></div>
          </a>
        </div>
      </div>
      <div id="test2" class="col s12">
        <div class="collection">
          <a href="#!" class="card-panel collection-item waves-effect waves-light">
            <div class="first_letter blue lighten-2">L</div>
            <div class="title blue-text text-darken-2 truncate">Bellow to generate a number to send to your corre dhhdh</div>
            <span class="red-text text-darken-2 truncate description"> Payclass truncate to the tag which  ss truncate to the tag which conta ss truncatjdjjddhhd dhhddgd dggd gdgd </span>
            <div class="black-text text-darken-2 data_file"><span class="views"><span class="number">30M</span>&nbsp;<span class="view_lang">Views</span></span>&nbsp;.&nbsp;<span class="dateTime">Il y'a 59 minutes</span></div>
          </a>
          <a href="#!" class="card-panel collection-item waves-effect waves-light">
            <div class="first_letter red lighten-2">L</div>
            <span class="title blue-text text-darken-2 truncate">TEremely long title that will be truncated ss truncate to the tag which conta ss ttruncate</span>
            <span class="red-text text-darken-2 truncate description"> class truncate to the tag which  ss truncate to the tag which conta ss truncat</span>
            <div class="black-text text-darken-2 data_file"><span class="views"><span class="number">30M</span>&nbsp;<span class="view_lang">Views</span></span>&nbsp;.&nbsp;<span class="dateTime">Il y'a 2 ans</span></div>
          </a>
          <a href="#!" class="card-panel collection-item waves-effect waves-light">
            <div class="first_letter orange lighten-2">L</div>
            <span class="title blue-text text-darken-2 truncate">TEremely long title that will be truncated ss truncate to the tag which conta ss ttruncate</span>
            <span class="red-text text-darken-2 truncate description"> class truncate to the tag which  ss truncate to the tag which conta ss truncat</span>
            <div class="black-text text-darken-2 data_file"><span class="views"><span class="number">30M</span>&nbsp;<span class="view_lang">Views</span></span>&nbsp;.&nbsp;<span class="dateTime">Il y'a 2 ans</span></div>
          </a>
        </div>
      </div>
    </div>
      

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="assets/js/jquery.js"></script>
      <script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
      <script type="text/javascript" src="assets/js/json2.js"></script>
      <script type="text/javascript" src="assets/js/jstorage.js"></script>
      <script type="text/javascript" src="assets/js/materialize.min.js"></script>
      <script type="text/javascript" src="assets/js/jQuery.succinct.min.js"></script>

      <script type="text/javascript" src="assets/js/liste.js"></script>
    </body>
  </html>
